<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vicarial.toolshed" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21"/>

    <!--<uses-feature android:name="android.hardware.camera" />-->
    <!--<uses-feature android:name="android.hardware.camera.autofocus" />-->

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".ToolshedApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ParseLoginUI" >
        <activity
            android:name=".DispatcherActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:label="Toolshed"
            android:theme="@style/AppCompatTheme">
        </activity>
        <activity android:name=".ToolListActivity"
            android:label="My Stuff">
        </activity>
        <activity android:name=".PickFriendsActivity"
            android:label="Pick Friends">
        </activity>
        <activity android:name=".NewToolActivity2"
            android:label="New Item">
        </activity>
        <activity android:name="com.facebook.LoginActivity"
            android:label="Login With Facebook">
        </activity>
        <activity
            android:name=".login.ParseLoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true"/>
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_EMAIL_AS_USERNAME"
                android:value="true"/>
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.FACEBOOK_LOGIN_ENABLED"
                android:value="true"/>
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.TWITTER_LOGIN_ENABLED"
                android:value="false"/>
        </activity>
    </application>

</manifest>
